/* padding 内边距 */
/* margin 外边距 */
/* border 边框 */



html, body, div, p, span, img, input {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    /* 字体颜色 */
    color: #fff;
}
.container{
    /* no-repeat不让图片重复 */
    background: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimages2017.cnblogs.com%2Fnews%2F66372%2F201802%2F66372-20180208220802763-1908370397.png&refer=http%3A%2F%2Fimages2017.cnblogs.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1640189462&t=0efab59d145e8e37f599a785281705eb') no-repeat;
    /* 让背景图铺满盒子 */
    background-size: cover;
    /* 100vh整个浏览器高度 */
    height: 100vh;
    display: flex;
    flex-direction: column;

    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    /* 背景透明，固定的 */
    background-color: transparent;

    
}
.body{
    /* 占同级剩下空间的几份（前提：父盒子是弹性布局）*/
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 两端对齐 */
    justify-content: space-between;
    padding-top: 120px;
    
}
.header-left{
    position: relative;
    display: flex;
    align-items: center;
    height: 20px;
   
}

.logo_img{
    height: 31.4px;
    width: 74.2px;
    padding: 20px;
    border: 20px;
    margin-right: 10px;
}
.text{
    display: flex;
    margin: 20px;
    padding: 10px;

}
.item{
    padding: 10px;
    height: 20px;
}

.header-right{
    position: relative;
    display: flex;
    align-items: center;
    height: 20px;
    margin-right: 10px;


}
.login-box{
    display: flex;  
    margin-right: 60px;
    align-items: center;
    
}
.login-button{
    margin: 10px;
    cursor: pointer;
}

.login-img{
    height: 20px;
    width: 20px;

}
.regis-box{
    display: flex;  
    margin-right: 60px;
    align-items: center;
    
}
.regis-button{
    margin: 10px;
    cursor: pointer;
}

.regis-img{
    height: 20px;
    width: 20px;

}
.more{
    display: flex;
    margin: 20px;
    padding: 10px;

}

.pull{
    margin-right: 60px;
    cursor: pointer;
}
.more-info{
    height: 0;
    position: absolute;
    top: 50px;
    background: #3FBFBF;
    right: 10px;
    overflow: hidden;

    /* 过渡 */
   transition: 0.3s;
   padding: 0 20px;
}
.content{
   color: white;
   height: 20px;
}
.extend-info{
     height: 0;
     position: absolute;
     top: 45px;
     background: #3FBFBF;
     right: 10px;
     overflow: hidden;

     /* 过渡 */
    transition: 0.3s;
    padding: 0 20px;
}
.content{
    color: white;
    height: 20px;
}
.input-box{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 50px;
    width: 400px;
    padding-right: 10px;
    /* margin-top: 120px; */
    /* 设置边框为圆角 */
    border-radius: 5px;
    /* 设置具体位置的边框为圆角 */
    border-top-left-radius: 0px;
}
.search-input{
    height: 15px;
    width: 250px;
    margin-left: 5px;
    color: black;
   
    
}

.search-icon{
    height: 20px;
    width: 20px;
    padding-left: 110px;
    margin-left: 10px;
    cursor: pointer;
}

.language{
    display: flex;
    width: 280px;
    /* 边框设置，边宽，类型(实线soild,虚线dashed)，点线(dotted)*/
    /* border: 1px solid red; */
    /* border: 1px dotted pink; */
    background-color: transparent;
    height: 40px;
    /* 行高 */
    line-height: 40px;
    /* 超出 language的部分隐藏*/
    overflow: hidden;
    /* border-radius: 5px; */
    font-size: 15px;


    
}

.language-text-left{
    color: black;
    background-color: #fff;  
    border-top-left-radius: 5px;
    cursor: pointer;
    /* 上右下左内边距 */
    /* padding: 0 5px 0px 0px; */
    /* 省略的后取相对的值，eg:省略了下左，上等于下=0，右等于左=5 */
    padding:0 5px ;
}

.language-text-right{
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 5px;
    cursor: pointer;
    padding:0 5px ;
    
}

.background-toggle{
    display: flex;
    /* 水平方向放最右边 */
    justify-content: flex-end;
    width: 100%;
    margin-top: 250px;

   
}

.left-toggle{
    height: 60px;
    margin-bottom: 60px;

}

.right-toggle{
    height: 60px;
    margin-bottom: 20px;
    margin-right: 60px;
}

.foot{
    display: flex;
    height: 60px;
    background-color: gray;
    align-items: center;
}